.ui.modal>.actions.modal-btn-center {
    text-align: center;
}

.ui.modal {
    &.confirm-modal {
        max-width: 94%;
        width: 70rem;
        .image.content {
            @include flex-direction(column);
            @include justify-content(center);
            text-align: center;
            padding: 0;
            .img-area {
                background: color("grey", "lighten-8");
                padding: 2rem 2rem;
                text-align: center;
                margin: 0;
                img {
                    max-width: 100%;
                    margin: 0;
                }
            }
            .description {
                padding: 2rem 2rem;
                p {
                    max-width: 80%;
                    margin: 0px auto;
                }
            }
        }
        .actions {
            padding: 2rem 0 4rem 0;
            background: color("shades", "white");
            border: 0;
        }
    }
    h3 {
        font-size: 2.8rem;
        color: color("shades", "black");
    }
}