.review-info-area {
    @include flexbox;
    @include justify-content(space-between);
    position: relative;
    width: 100%;
    margin: 1rem 0 3rem 0;
    min-height: 10rem;
    @media (max-width:#{$small-screen}) {
        @include flex-direction(column);
    }
    .total-rating {
        width: 22rem;
        @media (max-width:#{$small-screen}) {
            width: 100%;
            margin: 1.5rem 0;
            padding-right: 1rem;
        }
        .all-rating {
            @include flexbox;
            @include align-items(center);
            width: 100%;
            margin: 0 0 0.8rem 0;
            span {
                @include flexbox;
                @include align-items(center);
                i {
                    font-size: 2rem;
                    margin: 0 0 0 0.3rem;
                }
            }
            .progress {
                width: 100%;
                margin: 0 0.6rem;
                background: color("grey", "lighten-9");
                border-radius: 1rem;
                height: 1rem;
                .bar {
                    height: 100%;
                    border-radius: 1rem;
                    background: color("yellow", "lighten-1");
                    min-width: 0;
                }
            }
        }
    }
    .rating-show {
        @include flexbox;
        @include flex-direction(column);
        @include justify-content(space-between);
        .rating {
            h3 {
                margin: 0;
            }
            .rating {
                .icon {
                    font-size: 3rem;
                    color: color("grey", "base");
                    @media (max-width:#{$small-screen}) {
                        font-size: 2rem;
                    }
                    &.active {
                        color: color("yellow", "lighten-1");
                    }
                }
            }
        }
    }
    .rating-btn-area {
        .button {
            margin: 0;
        }
    }
}

.comment-rating {
    .ui.comments {
        font-size: 1.5rem;
        max-width: 100%;
        .comment {
            padding-bottom: 1rem;
            border-bottom: 1px solid color("grey", "lighten-5");
            position: relative;
            .avatar {
                margin: 0;
                img {
                    border-radius: 100%;
                }
            }
            .author {
                font-size: 1.5rem;
                margin: 0.5rem 0 0.5rem 0;
            }
            .metadata {
                margin: 0 0 0.5rem 0;
                .rating {
                    .icon {
                        font-size: 1rem;
                        color: color("grey", "base");
                        &.active {
                            color: color("yellow", "lighten-1");
                        }
                    }
                }
            }
            .text {
                font-size: 1.5rem;
                line-height: 2.2rem;
                color: color("shades", "black");
                max-width: 80%;
            }
        }
    }
}