@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/9.6.1/css/fabric.min.css');
@import 'sass-utils/color';
@import 'sass-utils/variable';
@import 'sass-utils/mixins';
@import 'pages/login';
@import 'pages/account';
@import 'pages/order';
@import 'layout/navigation';
@import 'layout/container';
@import 'layout/userProfile';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/segment';
@import 'layout/color-pallete';
@import 'layout/filter';
@import 'layout/expert-card-profile';
@import 'layout/polls';
@import 'layout/form';
@import 'layout/fields';
@import 'layout/table';
@import 'components/buttons';
@import 'components/tabs';
@import 'components/rating';
@import 'components/modal';
@import 'components/images';
@import 'components/card-block';
@import 'base/base';
@import 'layout/sidebar';

// Global
